<html>
  <head>
    <title>Sakagami Incorporated | 404 - Error</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/shared.css" />
  </head>
  <body>
    <div class="layout__wrapper">
      <main class="layout__container layout__container--transparent presentation__text-center" style="color:#fff; text-shadow: 3px 4px #000;">
        <img src="/img/astero.png" width="350" id="astero-one" alt="" style="position: relative; left: -20px;" />
        <h1 style="font-size: 52px; margin-top: .5em;">Target lost, Captain!</h1>
        <h4>Unfortunately there has been an error and what<br />you are looking for has failed or doesnt exist!</h4>
      </main>
    </div>
  </body>
</html>