<html>
  <head>
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <div class="layout__wrapper">
      <header class="layout__container">
        <img src="/img/header-background.jpg" width="960" alt="" />
        <img src="/img/astero.png" width="350" id="astero-one" alt="" />
        <img src="/img/astero.png" width="180" id="astero-two" alt="" />
        <nav>
          <a href=""><img src="/img/logo-regular.jpg" width="90" alt="" /></a>
          <ul>
            <li><a href="">Delete</a></li>
          </ul>
        </nav>
      </header>
      <main class="layout__container">
        <div class="">
          <h1>Verification Complete</h1>
          <p></p>
        </div>
      </main>
      <footer class="layout__container">
        <p>Website Copyright &copy; 2024-2025 Sakagami Incorporated
        <br />EVE-Online &amp; Associated Materials Copyright © CCP 1997-2025</p>
      </footer>
    </div>
  </body>
</html>